@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root{
  --text-dark-color:  #19253d;
  --text-color:#f0f9ff;
  --main-color: #4b81f5;
  --dark-color:#0369a1;
  --backGround-color:#c8d4e2;

}

.hero{
  max-width: 1200px;
  margin: auto;
  /* background-color: var(--backGround-color); */
}

/* nav{
  height:6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  color: var(--text-color);
  border-bottom-left-radius: 2rem;
} */


nav{
  background-color: #4b81f5;
}
.logo{
  font-size: 2rem;
  font-family: robot,sans-serif;
  background-color: #4b81f5;
  color:#fff;

}

.logo p{
  padding-top:20px;
}


nav{
   
  height:6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  color: var(--text-color);
  border-bottom-left-radius: 0px;

}

.nav-menu{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}





/* hr{
  border: 1px solid var(--text-color);
} */

.nav-menu-name:hover{
  color: var(--dark-color);
  cursor: pointer;
}

.nav-bold{
  font-weight: bold;
}

/* header header header header header */

header{
  text-align: center;
  border-radius: 1rem;
  padding-bottom: 3rem;
}

header h1{
  color: var(--text-dark-color);
}

header h1 span{
  color: var(--main-color);
}

/* section              section */
section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
  /* background-color: var(--text-dark-color); */
  color: var(--text-dark-color);
}

section h2{
  font-size: 2rem;
  padding:2rem 1rem ; 
}

section p{
  font-size: 1.3rem !important;
  padding:1.5rem !important;
}

section a{
  max-width: 140px;
  padding: 0.6rem 1.2rem;
  /* color: #fff; */
  margin: 1rem auto;
  border-radius: 2rem;
  text-decoration: none;
}

.projects-link{
  max-width: 140px;
  padding: 0.6rem 1.2rem;
  background-color: var(--main-color);
  color: var(--text-color);
  margin: 1rem auto;
  border-radius: 2rem;
}

.read-blog-link{
  max-width: 140px;
  padding: 0.6rem 1.2rem;
  color: var(--main-color);
  margin: 1rem auto;
  border-radius: 2rem;
  border:1px solid var(--main-color);
}


section:nth-child(odd){
  background-color: var(--backGround-color);
  padding-bottom: 3rem;
}

/* footer footer          footer */
footer{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 20px;
  justify-content: center;
  height: 100px;
  background-color: var(--main-color);
  color: var(--text-color);
  border-top-right-radius: 40px;
  margin-top: 50px;
}

footer h3{
  text-align: center;
  font-size: 1.3rem;
}

.social-icons{
  width: 15rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.social-icons a{
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
}

@media (max-width:830px){
  .logo{  
    width: 100%;
    font-size: 2rem;
    padding-left: 0rem;
    text-align: center;
    font-family: robot,sans-serif;
    padding-bottom: 1rem;
  }


  nav{
   
      height:6rem;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      background-color: var(--main-color);
      color: var(--text-color);
      border-bottom-left-radius: 0px;
      padding-bottom: 1rem;
    border-bottom-left-radius:2rem ;
    font-family: "Montserrat";
  }

  .nav-menu{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3rem;
  }

  .nav-menu-name:hover{
    cursor: pointer;
  }

}




